pre code[class*=language-] {
    padding: 1em;
    margin: 0;
    overflow: auto;
    border-radius: 0.3em;
}

pre code[class*=language-] {
    display: block;
    font-size: 1rem;
    padding: 2rem 1.5rem;
    overflow-x: auto;
}

