@import './variables.scss';
@import './mixins.scss';

.markdown {
    @include body-text();

    /* Vertical Rythm */
    > * {
        margin-bottom: 2rem;
    }

    a {
        @include hyphenate;
    }

    /* In-Text Links */
    p,
    li,
    blockquote {
        a:not(.btn) {
            box-shadow: inset 0 -2px 0 0 currentColor;
            border-bottom: 1px solid currentColor;

            @include hover-focus {
                color: #fff;
                box-shadow: inset 0 -1.25em 0 0 var(--color-primary);
                border-bottom-color: var(--color-primary);
                outline: none;
            }
        }
    }

    /* Images */
    img,
    video {
        display: block;
        max-width: 100%;
        height: auto;
        margin: 0 auto 2rem;
        color: var(--color-text-offset);
        font-style: italic;
        text-align: center;
    }

    figure {
        max-width: none;
        margin: 2rem auto;
        text-align: center;

        img {
            margin-bottom: 0;
        }
    }

    figcaption {
        padding-top: 0.75rem;
        font-style: italic;
        font-size: 1rem;
    }

    /* Video */
    video {
        max-width: 100%;
        height: auto;
    }

    /* Rules */
    hr {
        text-align: center;
        width: 240px;
        height: 1px;
        margin: 4rem auto;
        border: 0px solid var(--color-border);
        background-color: var(--color-border);
    }

    /* Headings */
    h2,
    h3,
    h4 {
        position: relative;
        margin-top: 1.5em;
        margin-bottom: 0.5em;

        &:first-child {
            margin-top: 0;
        }
        @include hover-focus {
            > .heading-anchor {
                opacity: 0.75;
            }
        }
    }

    .heading-anchor {
        display: none;
        position: absolute;
        top: 0;
        left: -1em;
        width: 1em;
        opacity: 0;

        @include hover-focus {
            opacity: 1 !important;
        }

        @include mq(md) {
            display: block;
        }
    }

    /* Lists */
    ul,
    ol {
        list-style-position: outside;
        padding-left: 1em;
        li:not(:last-child) {
            margin-bottom: 0.25em;
        }
    }
    ul {
        list-style-type: disc;
    }
    ol {
        list-style-type: decimal;
    }

    blockquote {
        padding-left: 35px;
        border-left: 3px solid var(--color-secondary);
    }

    mark {
        color: var(--color-text);
        background-color: var(--color-border);
    }

    /* Code blocks */
    pre[class*='language-'] {
        display: block;
        font-size: 1rem;
        overflow-x: auto;

        .post & {
            margin: 2rem calc(50% - 50vw);
        }
        .note & {
            border-radius: 0.5rem;
        }

        > code {
            @include container-narrow;
            display: block;
        }

        @media screen and (min-width: 1040px) {
            .post & {
                margin-left: -180px;
                margin-right: -180px;
                border-radius: $border-radius * 2;
            }
        }
    }

    /* Inline code */
    :not(pre) > code {
        display: inline-block;
        font-family: $font-family-monospace;
        background-color: var(--color-bg-offset);
        border: 1px solid var(--color-border);
        border-radius: $border-radius;
        padding: 2px 4px;
        margin: 0 2px;
        font-size: 75%;
    }

    /* Extends */
    .extend {
        @include mq(lg) {
            margin-left: -3rem;
            margin-right: -3rem;
        }
    }
}
