.markdown {
    /* Vertical Rythm */
    > * {
        margin-bottom: 2rem;
    }

    a {
       
    }

    /* In-Text Links */
    p,
    li,
    blockquote {
        a:not(.btn) {
            box-shadow: inset 0 -2px 0 0 currentColor;
            border-bottom: 1px solid currentColor;

            color: #fff;
            box-shadow: inset 0 -1.25em 0 0 var(--color-primary);
            border-bottom-color: var(--color-primary);
            outline: none;
        }
    }

    /* Images */
    img,
    video {
        display: block;
        max-width: 100%;
        height: auto;
        margin: 0 auto 2rem;
        color: var(--color-text-offset);
        font-style: italic;
        text-align: center;
    }

    figure {
        max-width: none;
        margin: 2rem auto;
        text-align: center;

        img {
            margin-bottom: 0;
        }
    }

    figcaption {
        padding-top: 0.75rem;
        font-style: italic;
        font-size: 1rem;
    }

    /* Video */
    video {
        max-width: 100%;
        height: auto;
    }

    /* Rules */
    hr {
        text-align: center;
        width: 240px;
        height: 1px;
        margin: 4rem auto;
        border: 0px solid var(--color-border);
        background-color: var(--color-border);
    }

    /* Headings */
    h2,
    h3,
    h4 {
        position: relative;
        margin-top: 1.5em;
        margin-bottom: 0.5em;
    }

    h2:first-child,
    h3:first-child,
    h4:first-child {
        margin-top: 0;
    }

    .heading-anchor {
        display: none;
        position: absolute;
        top: 0;
        left: -1em;
        width: 1em;
        opacity: 0;
    }

    .heading-anchor:hover, .heading-anchor:focus {
        opacity: 1 !important;
    }

    @media (min-width: 670px) {
        .markdown .heading-anchor {
            display:block
        }
    }

    /* Lists */
    ul,
    ol {
        list-style-position: outside;
        padding-left: 1em;
        li:not(:last-child) {
            margin-bottom: 0.25em;
        }
    }
    ul {
        list-style-type: disc;
    }
    ol {
        list-style-type: decimal;
    }

    blockquote {
        margin: 2rem 0 2rem -35px;
        padding-left: 35px;
        border-left: 3px solid var(--color-secondary);
    }

    mark {
        color: var(--color-text);
        background-color: var(--color-border);
    }

    /* Code blocks */
    pre[class*='language-'] {
        display: block;
        font-size: 1rem;
        padding: 2rem 1.5rem;
        overflow-x: auto;

        .post {
            margin: 2rem calc(50% - 50vw);
        }
        .note {
            border-radius: 0.5rem;
        }

        > code {
            display: block;
        }

        @media screen and (min-width: 1040px) {
            .post {
                margin-left: -180px;
                margin-right: -180px;
                border-radius:  4px;
            }
        }
    }

    /* Inline code */
    :not(pre) > code {
        display: inline-block;
        font-family: 'Fira Code', monospace;
        background-color: var(--color-bg-offset);
        border: 1px solid var(--color-border);
        border-radius: 2px;
        padding: 2px 4px;
        margin: 0 2px;
        font-size: 75%;
    }
}
